build/*.js
config/*.js
**/assets/fonts/**/*.js
**/assets/js/**/*.js
src/assets/lang/**/*.js
src/components/**/*.vue
src/components/**/*.js
src/directives/**/*.vue
src/directives/**/*.js
src/modules/index/**/*.vue
src/modules/index/**/*.js
src/modules/system/**/*.vue
src/modules/system/**/*.js
src/assets/**/*.*
src/components/**/*.*
src/modules/system/**/*.*
src/modules/allowance/**/*.*
src/modules/evaluation/**/*.*
src/modules/hrmanagement/**/*.*
src/modules/login/**/*.*
src/modules/index/**/*.*
src/modules/myvisa/**/*.*
src/modules/organization/**/*.*
src/modules/performance/**/*.*
src/modules/position/**/*.*
src/modules/recruit/**/*.*
src/modules/recruitOut/**/*.*
src/modules/selfhelp/**/*.*
src/modules/staff/**/*.*
src/modules/study/**/*.*
src/modules/train/**/*.*
src/modules/salary/components/common/big-data-table/**/*.*
